version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
  - package-ecosystem: "docker-compose"
    directories: ["/", "examples/"]
    schedule:
      interval: "daily"
    target-branch: "main"
