on: push
name: Tests
jobs:
  local-setup:
    runs-on: ubuntu-latest
    steps:
      -   name: 'Checkout code'
          uses: actions/checkout@v4
      -   name: 'Setup Docker'
          uses: docker/setup-docker-action@v4
      -   name: 'Debug versions'
          run: |
              docker --version
      -   name: 'Add hosts to /etc/hosts'
          run: |
            sudo echo "127.0.0.1 reverse-proxy.test" | sudo tee -a /etc/hosts
            sudo echo "127.0.0.1 hello-world.test" | sudo tee -a /etc/hosts
      -   name: 'Copy configuration files'
          run: cp -r configs-local configs
      -   name: 'Start reverse proxy with local setup'
          run: docker compose -f docker-compose.local.yml up -d --wait
      -   name: 'Test dashboard'
          run: curl http://reverse-proxy.test/dashboard/#/
      -   name: 'Start hello-world example'
          run: cd examples && docker compose -f docker-compose.local.yml up -d
      -   name: 'Test hello-world'
          run: curl http://hello-world.test
  prod-setup:
    runs-on: ubuntu-latest
    steps:
      -   name: 'Checkout code'
          uses: actions/checkout@v4
      -   name: 'Setup Docker'
          uses: docker/setup-docker-action@v4
      -   name: 'Debug versions'
          run: |
            docker --version
      -   name: 'Add hosts to /etc/hosts'
          run: |
            sudo echo "127.0.0.1 reverse-proxy.test" | sudo tee -a /etc/hosts
            sudo echo "127.0.0.1 hello-world.test" | sudo tee -a /etc/hosts
      -   name: 'Copy configuration files'
          run: cp -r configs-local configs
      -   name: 'Start reverse proxy with local setup'
          run: docker compose -f docker-compose.prod.yml up -d --wait
      -   name: 'Test dashboard'
          run: curl http://reverse-proxy.test/dashboard/#/
      -   name: 'Start hello-world example'
          run: cd examples && docker compose -f docker-compose.prod.yml up -d
      -   name: 'Test hello-world'
          run: curl http://hello-world.test
